<div class="container-xl">
	<div class="table-responsive">
		<div class="table-wrapper" style="width: max-content;">
			<div class="table-title">
				<div class="row">
					<div class="col-sm-6">
						<h2>Manage <b>Event</b></h2>
					</div>
					<div class="col-sm-6">
						<a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i
								class="material-icons">&#xE147;</i> <span>Add New Events</span></a>

						<% if(! events.length> 0) {%>
							<a href="/event" class="btn btn-secondary"> <span>Back</span></a>
							<%} else {%>
								<a href="/upcomingEvent" class="btn btn-info"> <span>Upcoming</span></a>
								<a href="/previousEvent" class="btn btn-info"> <span>Previous</span></a>
								<a href="/admin" class="btn btn-primary"> <span>Home</span></a>

								<% } %>

					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<table class="table table-striped table-hover">
						<thead>
							<tr>
								<th>Event Title</th>
								<th>Location</th>
								<th>Description</th>
								<th>Date Starts</th>
								<th>Date Ends</th>
								<th>Time Starts & Time Ends</th>
								<th>Requirement/s</th>
								<th>Process</th>
								<th>Participants</th>
								<th>Date Posted</th>
								<% if(! events.length> 0) {%>
									<th>Actions</th>
									<%} %>

							</tr>
						</thead>
						<tbody>
							<% if(events.length> 0)
								{
								for(var i=0; i < events.length; i++) { %>
									<tr onclick="window.location='/event/<%= events[i]._id %>'"
										style="cursor: pointer;">
										<td>
											<%= events[i].eventTitle %>
										</td>
										<td>
											<%= events[i].eventLocation %>
										</td>
										<td>
											<%= events[i].eventDetails %>
										</td>
										<td>
											<%= events[i].startDate.toString().slice(0,15) %>
										</td>
										<td>
											<%= events[i].endDate.toString().slice(0,15) %>
										</td>
										<td>
											<%= events[i].timeStart%> - <%= events[i].timeEnds %>
										</td>

										<td>
											<%= events[i].eventRequire %>
										</td>
										<td>
											<%= events[i].eventProcess %>
										</td>
										<td>
											<%= events[i].eventParticipant %>
										</td>
										<td>
											<%= events[i].datePosted.toString().slice(0,15) %>
										</td>
									</tr>
									<% }} else { %>
										<tr>
											<td>
												<%= events.eventTitle %>
											</td>
											<td>
												<%= events.eventLocation %>
											</td>
											<td>
												<%= events.eventDetails %>
											</td>
											<td>
												<%= events.startDate %>
											</td>
											<td>
												<%= events.endDate %>
											</td>
											<td>
												<%= events.timeStart%> - <%= events.timeEnds %>
											</td>

											<td>
												<%= events.eventRequire %>
											</td>
											<td>
												<%= events.eventProcess %>
											</td>
											<td>
												<%= events.eventParticipant %>
											</td>
											<td>
												<%= events.datePosted %>
											</td>
											<td>
												<a href="#editEmployeeModal" class="edit" data-toggle="modal"><i
														class="material-icons" data-toggle="tooltip"
														title="Edit">&#xE254;</i></a>
												<a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i
														class="material-icons" title="Delete">&#xE872;</i></a>

											</td>
										</tr>
										<%} %>
											<tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- Add Modal HTML -->
	<div id="addEmployeeModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form action="/event" method="post">
					<div class="modal-header">
						<h4 class="modal-title">Add Event</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label>Title</label>
							<input type="text" name="eventTitle" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Location</label>
							<input type="text" name="eventLocation" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Description</label>
							<textarea class="form-control" name="eventDetails" required></textarea>
						</div>
						<div class="form-group">
							<label>Date Start </label>
							<input type="date" name="startDate" class="form-control" required>
						</div>
						<div class="form-row">
							<div class="form-group" style="width:50%">
								<label>Time Start</label>
								<input type="text" name="timeStart" class="form-control" placeholder="00:00 AM/PM"
									required>
							</div>
							<div class="form-group" style="width:50%">
								<label>Time Ends</label>
								<input type="text" name="timeEnds" class="form-control" placeholder="00:00 AM/PM"
									required>
							</div>
						</div>
						<div class="form-group">
							<label>Date Ends </label>
							<input type="date" name="endDate" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Requirement/s</label>
							<input type="text" name="eventRequire" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Process</label>
							<input type="text" name="eventProcess" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Participants</label>
							<input type="text" name="eventParticipant" class="form-control" required>
						</div>
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
						<input type="submit" class="btn btn-info" value="Submit">
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- Delete Modal HTML -->
	<div id="deleteEmployeeModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form action="/event/<%= events._id %>?_method=DELETE" method="post">
					<input type="hidden" name="_method" value="DELETE">
					<div class="modal-header">
						<h4 class="modal-title">Delete Event</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="row my-3">
						<div class="col-sm-12">
							<h5 class="text-center">Are You Sure?</h5>
							<p class="text-center text-secondary">Do you really want to delete these records?
								This
								process cannot be undone.</p>
						</div>
					</div>
					<div class="modal-footer justify-content-center">
						<input type="button" class="btn btn-secondary mx-2" data-dismiss="modal" value="Cancel">
						<input type="submit" class="btn btn-danger mx-2" value="Delete">
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- Edit Modal HTML -->
	<% if(! events.length> 0) { %>
		<div id="editEmployeeModal" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<form action="/event/<%= events._id%>?_method=PUT" method="post">
						<input type="hidden" name="_method" value="PUT">
						<div class="modal-header">
							<h4 class="modal-title">Edit Events</h4>
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						</div>
						<div class="modal-body">
							<div class="form-group">
								<label>Event Title</label>
								<input type="text" name="eventTitle" class="form-control" value="<%=events.eventTitle%>"
									required>
							</div>
							<div class="form-group">
								<label>Location</label>
								<input type="text" name="eventLocation" class="form-control"
									value="<%=events.eventLocation%>" required>
							</div>
							<div class="form-group">
								<label>Description</label>
								<textarea class="form-control" name="eventDetails"
									required><%=events.eventDetails%></textarea>
							</div>
							<div class="form-group">
								<label>Date Start </label>
								<input type="date" name="startDate" class="form-control" value="<%=events.startDate%>"
									required>
							</div>
							<div class="form-row">
								<div class="form-group" style="width:50%">
									<label>Time Start</label>
									<input type="text" name="timeStart" class="form-control"
										value="<%=events.timeStart%>" placeholder="00:00 AM/PM" required>
								</div>
								<div class="form-group" style="width:50%">
									<label>Time Ends</label>
									<input type="text" name="timeEnds" class="form-control" value="<%=events.timeEnds%>"
										placeholder="00:00 AM/PM" required>
								</div>
							</div>
							<div class="form-group">
								<label>Date Ends </label>
								<input type="date" name="endDate" class="form-control" value="<%=events.endDate%>"
									required>
							</div>
							<div class="form-group">
								<label>Requirements</label>
								<input type="text" class="form-control" name="eventRequire"
									value="<%=events.eventRequire%>" required>
							</div>
							<div class="form-group">
								<label>Process</label>
								<input type="text" class="form-control" name="eventProcess"
									value="<%=events.eventProcess%>" required>
							</div>
							<div class="form-group">
								<label>Participants</label>
								<input type="text" class="form-control" name="eventParticipant"
									value="<%=events.eventParticipant%>" required>
							</div>

						</div>
						<div class="modal-footer">
							<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
							<input type="submit" class="btn btn-info" value="Save">
						</div>
					</form>
				</div>
			</div>
		</div>

		<% } %>