<div class="container-xl">
	<div class="table-responsive">
		<div class="table-wrapper">
			<div class="table-title">
				<div class="row">
					<div class="col-sm-6">
						<h2>Manage <b>Upcoming Events</b></h2>
					</div>
					<div class="col-sm-6">
						<a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i
								class="material-icons">&#xE147;</i> <span>Add New Events</span></a>

						<% if(! upcomingEvents.length > 0) {%>
							<a href="/event" class="btn btn-secondary"> <span>Back</span></a>
							<%} else {%>
								<a href="/admin" class="btn btn-primary"> <span>Home</span></a>

								<% } %>

					</div>
				</div>
			</div>
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Event Title</th>
						<th>Location</th>
						<th>Description</th>
						<th>Date Starts</th>
						<th>Date Ends</th>
						<th>Time Starts & Time Ends</th>
						<th>Requirement/s</th>
						<th>Process</th>
						<th>Participants</th>
						<th>Date Posted</th>
						<% if(! upcomingEvents.length> 0) {%>
							<th>Actions</th>
							<%} %>

					</tr>
				</thead>
				<tbody>  
					<% if(upcomingEvents.length> 0)
						{
						for(var i=0; i < eventComing.length; i++) { %>
							<tr onclick="window.location='/upcomingEvent/<%= eventComing[i]._id %>'" style="cursor: pointer;">
								<td>
									<%= eventComing[i].eventTitle %>
								</td>
								<td>
									<%= eventComing[i].eventLocation %>
								</td>
								<td>
									<%= eventComing[i].eventDetails %>
								</td>
								<td>
									<%= eventComing[i].startDate %>
								</td>
								<td>
									<%= eventComing[i].endDate %>
								</td>
								<td>
									<%= eventComing[i].timeStart%> - <%= eventComing[i].timeEnds %>
								</td>
								
								<td>
									<%= eventComing[i].eventRequire %>
								</td>
								<td>
									<%= eventComing[i].eventProcess %>
								</td>
								<td>
									<%= eventComing[i].eventParticipant %>
								</td>
								<td>
									<%= eventComing[i].datePosted %>
								</td>
							</tr>
							<% }} 
                            else { %>
								<tr>
									<td>
										<%= upcomingEvents.eventTitle %>
									</td>
									<td>
										<%= upcomingEvents.eventLocation %>
									</td>
									<td>
										<%= upcomingEvents.eventDetails %>
									</td>
									<td>
										<%= upcomingEvents.startDate %>
									</td>
									<td>
										<%= upcomingEvents.endDate %>
									</td>
									<td>
										<%= upcomingEvents.timeStart%> - <%= upcomingEvents.timeEnds %>
									</td>
									
									<td>
										<%= upcomingEvents.eventRequire %>
									</td>
									<td>
										<%= upcomingEvents.eventProcess %>
									</td>
									<td>
										<%= upcomingEvents.eventParticipant %>
									</td>
									<td>
										<%= upcomingEvents.datePosted %>
									</td>
									<td>
										<a href="#editEmployeeModal" class="edit" data-toggle="modal"><i
												class="material-icons" data-toggle="tooltip"
												title="Edit">&#xE254;</i></a>
										<a href="#deleteEmployeeModal" class="delete" data-toggle="modal"><i
												class="material-icons" title="Delete">&#xE872;</i></a>

									</td>
								</tr>
								<%} %>
									<tr>

				</tbody>
			</table>
			<!-- <div class="clearfix">
				<div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
				<ul class="pagination">
					<li class="page-item disabled"><a href="#">Previous</a></li>
					<li class="page-item"><a href="#" class="page-link">1</a></li>
					<li class="page-item"><a href="#" class="page-link">2</a></li>
					<li class="page-item active"><a href="#" class="page-link">3</a></li>
					<li class="page-item"><a href="#" class="page-link">4</a></li>
					<li class="page-item"><a href="#" class="page-link">5</a></li>
					<li class="page-item"><a href="#" class="page-link">Next</a></li>
				</ul>
			</div>
		</div> -->
		</div>
	</div>
	<!-- Add Modal HTML -->
	<div id="addEmployeeModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form action="/upcomingEvent" method="post">
					<div class="modal-header">
						<h4 class="modal-title">Add Event</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label>Title</label>
							<input type="text" name="eventTitle" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Location</label>
							<input type="text" name="eventLocation" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Description</label>
							<textarea class="form-control" name="eventDetails" required></textarea>
						</div>
						<!-- <div class="form-group">
							<label>Start Date & Time</label>
							<input type="date" name="startDateTime" class="form-control" required>
						</div>
						<div class="form-group">
							<label>End Date & Time</label>
							<input type="date" name="endDateTime" class="form-control" required>
						</div> -->
						<div class="form-group">
							<label>Date Start </label>
							<input type="date" name="startDate" class="form-control" required>
						</div>
						<div class="form-row">
							<div class="form-group" style="width:50%">
								<label>Time Start</label>
								<input type="text" name="timeStart" class="form-control" placeholder="00:00 AM/PM"
									required>
							</div>
							<div class="form-group" style="width:50%">
								<label>Time Ends</label>
								<input type="text" name="timeEnds" class="form-control" placeholder="00:00 AM/PM"
									required>
							</div>
						</div>
						<div class="form-group">
							<label>Date Ends </label>
							<input type="date" name="endDate" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Requirement/s</label>
							<input type="text" name="eventRequire" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Process</label>
							<input type="text" name="eventProcess" class="form-control" required>
						</div>
						<div class="form-group">
							<label>Participants</label>
							<input type="text" name="eventParticipant" class="form-control" required>
						</div>
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
						<input type="submit" class="btn btn-info" value="Submit">
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- Delete Modal HTML -->
	<div id="deleteEmployeeModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form action="/upcomingEvent/<%= upcomingEvents._id %>?_method=DELETE" method="post">
					<input type="hidden" name="_method" value="DELETE">
					<div class="modal-header">
						<h4 class="modal-title">Delete Event</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="row my-3">
						<div class="col-sm-12">
							<h5 class="text-center">Are You Sure?</h5>
							<p class="text-center text-secondary">Do you really want to delete these records? This
								process cannot be undone.</p>
						</div>
					</div>
					<div class="modal-footer justify-content-center">
						<input type="button" class="btn btn-secondary mx-2" data-dismiss="modal" value="Cancel">
						<input type="submit" class="btn btn-danger mx-2" value="Delete">
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- Edit Modal HTML -->
	<% if(! upcomingEvents.length> 0) { %>
		<div id="editEmployeeModal" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<form action="/upcomingEvent/<%= upcomingEvents._id%>?_method=PUT" method="post">
						<input type="hidden" name="_method" value="PUT">
						<div class="modal-header">
							<h4 class="modal-title">Edit Events</h4>
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						</div>
						<div class="modal-body">
							<div class="form-group">
								<label>Event Title</label>
								<input type="text" name="eventTitle" class="form-control" value="<%=upcomingEvents.eventTitle%>">
								
							</div>
							<div class="form-group">
								<label>Location</label>
								<input type="text" name="eventLocation" class="form-control"
									value="<%=upcomingEvents.eventLocation%>" required>
							</div>
							<div class="form-group">
								<label>Description</label>
								<textarea class="form-control" name="eventDetails"
									required><%=upcomingEvents.eventDetails%></textarea>
							</div>
							<div class="form-group">
								<label>Date Start </label>
								<input type="date" name="startDate" class="form-control" value="<%=upcomingEvents.startDate%>" required>
							</div>
							<div class="form-row">
								<div class="form-group" style="width:50%">
									<label>Time Start</label>
									<input type="text" name="timeStart" class="form-control" placeholder="00:00 AM/PM"
										value="<%=upcomingEvents.timeStart%>">
								</div>
								<div class="form-group" style="width:50%">
									<label>Time Ends</label>
									<input type="text" name="timeEnds" class="form-control" placeholder="00:00 AM/PM"
                                    value="<%=upcomingEvents.timeEnds%>">
								</div>
							</div>
							<div class="form-group">
								<label>Date Ends </label>
								<input type="date" name="endDate" class="form-control" value="<%=upcomingEvents.endDate%>" required>
							</div>
							<div class="form-group">
								<label>Requirements</label>
								<input type="text" class="form-control" name="eventRequire"
									value="<%=upcomingEvents.eventRequire%>">
							</div>
							<div class="form-group">
								<label>Process</label>
								<input type="text" class="form-control" name="eventProcess"
									value="<%=upcomingEvents.eventProcess%>">
							</div>
							<div class="form-group">
								<label>Participants</label>
								<input type="text" class="form-control" name="eventParticipant"
									value="<%=upcomingEvents.eventParticipant%>">
							</div>
							
						</div>
						<div class="modal-footer">
							<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
							<input type="submit" class="btn btn-info" value="Save">
						</div>
					</form>
				</div>
			</div>
		</div>

		<% } %>